/*Author: Ryan Seguin
Student Number: 5836275
Date: October 22, 2016
Validates against CSS 3*/

header{
	background-color: #cccccc;
	margin:0%;
	border:0;
	padding:1%;
}
body{
	margin: 0;
	background-color: #f2f2f2 ;
}
h1{
	color: black;
	text-align:center;
}
h3.margin{
	margin:50px;
}
h3, h4{
	text-align:center;
}
p{
    color: black;
    text-align: center;
	margin-top:50px;
}
	
form{
	float:left;
	margin-left:43%;
}
img{
	max-height:500px;
	height: auto;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto
}
footer{
	padding-top:10%;
	clear:both;
}

#nav{
	margin:0;
	padding:0;
}
#nav ul{
    list-style-type: none;
    margin: 0;
	border:0;
	padding:0;
    width: 100%;
    background-color: #70706d;
	float:left;
    overflow: auto;
	clear: right;
}
#nav li{
	float:left;
	border: 1px solid #cccccc;
}
#nav a{
	display: block;
    color: white;
	text-align:center;
    padding: 8px 16px;
    text-decoration: none;
}
#nav h3{
	visibility: hidden;
}
#nav li>a:hover:not(.active) {
    background-color: #111;
}
#contents{
	margin:0;
	padding:0;
}
#contents ol{
	list-style-type: none;
    margin: 0;
	border:0;
	padding:0;
    width: 20px;
    background-color: #70706d;
    overflow: auto;
	clear: right;
}
#contents li>a{
	display: block;
	background-color:#a3a3c2;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
	width:100px;
	text-align:center;
	margin:auto;
}
#contents li>a:hover:not(.active) {
    background-color: #3d3d5c;
}
ul.traits{
	list-style-type: none;
	clear: right;
}
li.traits{
	text-align:center;
}



